

body {
  margin: 0;
  padding: 0;
}

%common-div{
  width: 50vw;
  height: 50vh;
  background: tomato;
}

.div-1 {
 


  img{
    max-width: 20%;
  }
}

.div-2{
  @extend %common-div;

  .img{
    max-width: 50%;
    transition: all 1s;

    &:hover {
      opacity: 0.4;
    }
  }
}

